<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css" type="text/css">
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Edit circle {{ circle.getCircleName}}</h1>
            </div>
            <h3>Current radius: {{ circle.getCircleRadius }} cm.</h3>
            <form action='/circle/{{circle.getCircleId }}' method='post'>
                <input name='_method' type='hidden' value='patch'>
                <label for='edit_circle_name'>New circle name:</label>
                <input id='new_circle_name' name='new_circle_name'>
                <label for='edit_circle_radius'>New circle radius:</label>
                <input id='new_circle_radius' name='new_circle_radius'>
                <button type='submit' class='btn btn-success'>Edit</button>
            </form>
        </div>
    </body>
</html>
