<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css" type="text/css">
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <meta charset="utf-8">
        <title>Shapes</title>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Shapes</h1>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <a href="/circles"><h3>View circles</h3></a>
                </div>
                <div class="col-sm-3">
                    <a href="/squares"><h3>View squares</h3></a>
                </div>
                <div class="col-sm-3">
                    <a href="/rectangles"><h3>View rectangles</h3></a>
                </div>
                <div class="col-sm-3">
                    <a href="/triangles"><h3>View triangles</h3></a>
                </div>
            </div>
        </div>
    </body>
</html>
