<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css" type="text/css">
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <meta charset="utf-8">
        <title>Triangle Edit</title>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Edit triangle {{ triangle.getTriangleName }}</h1>
            </div>
            <div>
                <h3>Current base measurement: {{ triangle.getTriangleBase}} in.</h3>
                <h3>Current height measurement: {{ triangle.getTriangleHeight }} in.</h3>
                <form action="/triangle/{{triangle.getTriangleId}}" method='post'>
                    <input name='_method' type='hidden' value='patch'>
                    <div class="row">
                        <div class="col-sm-4">
                            <label for='edit_triangle_name'>New triangle name:</label>
                            <input id='new_triangle_name' name='new_triangle_name' required>
                        </div>
                        <div class="col-sm-4">
                            <label for='edit_triangle_base'>New triangle base:</label>
                            <input id='new_triangle_base' name='new_triangle_base' required>
                        </div>
                        <div class="col-sm-4">
                            <label for='edit_triangle_height'>New triangle height:</label>
                            <input id='new_triangle_height' name='new_triangle_height' required>
                        </div>
                        <button type='submit' class='btn btn-success'>Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
