<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css" type="text/css">
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <meta charset="utf-8">
        <title>Squares</title>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Squares</h1>
            </div>
            {% if squares is not empty %}
                <h3>Here are the current squares. Click to view their width.</h3>
                {% for square in squares %}
                <ul>
                    <a href="/square/{{ square.getSquareId }}">{{ square.getSquareName }}</a>
                </ul>
                {% endfor %}
            {% endif %}
            {% if squares is empty %}
                <h3>There are currently no squares</h3>
                <h4>Add one!</h4>
            {% endif %}
            <br>
            <h3>New Square</h3>
            <form action="/add_square" method="post">
                <div class="row">
                    <div class="col-sm-6">
                        <label for="square_name">Square Name:</label>
                        <input id="square_name" name="square_name" required>
                    </div>
                    <div class="col-sm-6">
                        <label for="square_width">Square width:</label>
                        <input id="square_width" name="square_width" required>
                    </div>
                    <button type="submit" class="btn btn-success">Create new square</button>
                </div>
            </form>
            <br>
            <a href="/">Home</a>
        </div>
    </body>
</html>
