<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css" type="text/css">
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>A Rectangle</h1>
            </div>
            <div>
                <h3>Rectangle "{{ rectangle.getRectangleName }}" has a length of {{ rectangle.getRectangleLength }} in by a width of {{ rectangle.getRectangleWidth }} in.</h3>
                <a href="/rectangle/{{rectangle.getRectangleId}}/edit">Edit this rectangle</a>
                <br>
                <br>
                <a href="/rectangles_home">View Rectangles</a>
                <br>
                <a href="/">Home</a>
            </div>
        </div>
    </body>
</html>
